%%
%% rebar configuration file
%%

{sub_dirs, [
           ]}.

{lib_dirs,["deps"]}.

%no need to run deps unit tests
{eunit_exclude_deps, true}.

{deps, [
      {'em', ".*", {git, "https://github.com/cypherfox/erlymock.git"}}
]}.

{erl_opts, [debug_info, fail_on_warning, {d, 'NOTEST'}]}.

{cover_enabled, true}.

{require_otp_vsn, "R16"}.


